.col-9 {
  background: #f8f9fa;
}

.navbar {
  background: #343a40;
}

.form-label {
  margin-top: 5px;
}

.modal-dialog-custom {
  position: absolute;
  top: 150px;
  right: 100px;
  bottom: 0;
  left: 0;
}

body {
  overflow-y: hidden;
  }

.select {
  overflow-y: visible;
}

.btn-info {
  background: #17a2b8;
  color: white;
}

.btn-logout {
  color: #9a9d9d;
  text-decoration: none;
}
